body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    gap: 50px;
    background-color: #f7f7f7;
}

.left-side-card{
    background-color: #fed501;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh 50px;
    gap: 10px;
}

.left-side-card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.right-side-card{
    background-color: #ffffff;
    padding: 10vh 50px;

}