body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Diseño responsivo */
    gap: 16px;
    padding: 16px;
    text-align: center;
}


footer{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
