<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password generator</title>
    <link rel="stylesheet" href="../../../src/styles/02-password-generator.css">
</head>
<body>
    <main class="container">
        <select id="languageSelector" onchange="changeLanguage()">
            <option value="en">English</option>
            <option value="es">Español</option>
        </select>
        <h1 id="title">Password Generator</h1>
        <span id="span">Password length:</span>
        <input type="text" id="length" placeholder="Enter the length of the password" minlength="12" maxlength="20" required> 
        <button onclick="generatePassword()" class="generateButton" id="submitButton" >Generate</button>
        <p id="password"></p>
    </main>
</body>
<script src="/assets/js/script2.js"></script>
</html>