<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/05-unit-converter.css">
    <title>Unit Converter</title>
</head>

<body>
    <main>
        <h1 id="title">Unit Converter</h1>
        <select id="languageSelector" onchange="changeLanguage()">
            <option value="en" selected>English</option>
            <option value="es">Español</option>
        </select>
        <div>
            <input type="number" id="input" placeholder="Enter value">
            <select id="unit">
                <option value="kg">Kilogram</option>
                <option value="g">Gram</option>
                <option value="mg">Milligram</option>
                <option value="lb">Pound</option>
                <option value="oz">Ounce</option>
            </select>
        </div>
        <div>
            <h3>Result: <span id="output">0</span></h3>
        </div>
    </main>
    <script src="/assets/js/script5.js" is:inline></script>
</body>

</html>