<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/src/styles/06-timer.css" />
        <title>Timer</title>
    </head>
    <body>
        <main class="container">
            <h1>Timer</h1>
            <span class="timer"><p>00</p>: <p>00</p>: <p>00</p></span>
            <div class="buttons">
                <button>Start</button>
                <button>Stop</button>
            </div>
        </main>
    </body>
</html>
