<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/src/styles/08-form.css" />
        <title>Form Validation</title>
    </head>
    <body>
        <div class="container">

            <div class="left-side-card">
                <img src="/images/profile.png" alt="Profile image" />
                <h1>Form Validation</h1>
                <p>This is a form validation</p>
                <button>Button</button>
            </div>

            <div class="right-side-card">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        placeholder="Enter your name"
                    />
                </div>
                <div class="form-group">
                    <label>Sex</label>
                    <button>Male</button>
                    <button>Female</button>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" id="dob" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        placeholder="Enter your email"
                    />
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input
                        type="tel"
                        id="mobile"
                        placeholder="Enter your mobile number"
                    />
                </div>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" id="id" placeholder="Enter your ID" />
                </div>
                <div class="form-group membership">
                    <label>Membership</label>
                    <div>
                        <button>
                            <img
                                src="/images/membership.png"
                                alt="Classic"
                                class="membership-button"
                            /> Classic
                        </button>
                    </div>
                    <div>
                        <button>
                            <img
                                src="/images/membership.png"
                                alt="Silver"
                                class="membership-button"
                            /> Silver
                        </button>
                    </div>
                    <div>
                        <button>
                            <img
                                src="/images/membership.png"
                                alt="Gold"
                                class="membership-button"
                            /> Gold
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
