<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/src/styles/08-form.css" />
        <title>Form Validation</title>
    </head>
    <body>
        <div class="container">
            <div class="left-side-card">
                <img src="/images/profile.png" alt="Profile image" />
                <h1>Form validation</h1>
                <p>This is a form validation</p>
                <button></button>
            </div>
            <div class="right-side-card">
                <div>
                    <label for="">Name</label>
                    <input type="text" placeholder="" />
                </div>
                <div>
                    <label for="">Sex</label>
                    <button></button>
                    <button></button>
                </div>
                <div>
                    <label for="">Date of Birth</label>
                    <input type="date" name="" id="" />
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="text" placeholder="" />
                </div>
                <div>
                    <label for="">Mobile</label>
                    <input type="text" placeholder="" />
                </div>
                <div>
                    <label for="">Id</label>
                    <input type="text" placeholder="" />
                </div>
                <div>
                    <label for="">Membership</label>
                    <div>
                    <button>
                        <img src="/images/membership.png" alt="" class="membership-button"> 
                        </button>Classic
                    </div>
                    <div>
                    <button>
                        <img src="/images/membership.png" alt="" class="membership-button"> 
                        </button>Silver
                    </div>
                    <div>
                    <button>
                        <img src="/images/membership.png" alt="" class="membership-button"> 
                        </button>Gold
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
